:root {
    --main-color: #8e3a5e;
    --black: #222;
    --light-color: #888;
    --border: .1rem solid rgba(0,0,0,.2);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: Verdana, tahoma, sans-serif;
    font-weight: lighter;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
section {
    padding: 2rem 7%;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    background: var(--light-color);
    color: #fff;
    border-radius: .5rem;
    padding: .9rem 3rem;
    cursor: pointer;
    font-size: 1.7rem;
    &:hover {
        background: var(--main-color);
    }
}
header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: var(--black);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding: 1.2rem 7%;
    .logo {
        font-size: 2.5rem;
        color: #f7f7f7;
        margin-right: auto;
        span {
            color: var(--main-color);
        }
    }
    .menu {
        a {
            color: #f7f7f7;
            margin-right: 2rem;
            font-size: 1.7rem;
            text-transform: capitalize;
            &:hover {
                color: var(--main-color);
            }
        }
    }
    .btn-menu {
            display: none;
    }   
}     
/* Sección Home */
.home {
    min-height: 80vh;
    background: url(../images/hubble-1632627.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    padding-top: 8rem;
    .content {
        text-align: center;
        background: var(--black);
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        padding: 3rem;
        max-width: 50rem;
        h3 {
            font-size: 4rem;
            color: #f7f7f7;
            text-transform: uppercase;
        }
        p {
            font-size: 1.7rem;
            color: var(--light-color);
            padding: 1rem 0;
            line-height: 1.5;
        }
    }
}
/* Sección Posts */
.container {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 1.5rem;
    background: var(--black);
    .posts-container {
        width: 100%;
        padding: 2rem;
        background: var(--light-color);
        border: var(--border);
        border-radius: .5rem;
        margin-bottom: 1.5rem;
        .post {
            width: 100%;
            padding: 2rem;
            background: var(--light-color);
            border: var(--border);
            border-radius: .5rem;
            margin-bottom: 1.5rem;
            .image {
                height: 40rem;
                width: 100%;
                border-radius: .5rem;
                object-fit: cover;
            }
            .date {
                padding-top: 2rem;
                font-size: 1.5rem;
                color: var(--main-color);
            }
            .title {
                padding-top: 1.5rem;
                font-size: 2.5rem;
                color: var(--black);
            }
            .text {
                color: #eee;
                font-size: 1.6rem;
                line-height: 1.7;
                padding: 1rem 0;
            }
        }
        .links {
            border-top: var(--border);
            margin-top: .5rem;
            padding-top: 1.5rem;
            display: flex;
            align-items: center;
            .user {
                margin-right: auto;
            }
            .icon {
                padding-right: 1rem;
            }
            a {
                font-size: 1.5rem;
                color: #eee;
                ion-icon {
                    padding-right: .2rem;
                    color: var(--black);
                }
                &:hover {
                    color: var(--main-color);
                    ion-icon {
                        color: var(--main-color);
                    }
                }
            }
        }
    }
    .sidebar .box {
        border: var(--border);
        border-radius: .5rem;
        overflow: hidden;
        background: var(--black);
        margin-bottom: 1.5rem;
        .title {
            padding: 1.5rem;
            font-size: 2rem;
            color: #fff;
            background: var(--light-color);
            text-transform: capitalize;
        }
        .about {
            text-align: center;
            padding: 1rem 1.5rem;
            img {
                height: 15rem;
                width: 15rem;
                border-radius: 50%;
                object-fit: cover;
                margin: 1rem 0;
            }
            h3 {
                color: var(--main-color);
                font-size: 2rem;
            }
            p {
                color: #eee;
                font-size: 1.5rem;
                line-height: 1.5;
                padding: 1rem;
            }
            .follow {
                padding: 1rem 0;
                ion-icon {
                    line-height: 4rem;
                    border-radius: 50%;
                    background: var(--light-color);
                    color: #fff;
                    font-size: 3rem;
                    padding: 1rem;
                    margin: 0 .1rem;
                    &:hover {
                        background:var(--main-color);
                    }
                }
            }
        }
        .category {
            padding: 1rem 1.5rem;
            color: var(--light-color);
            a {
                padding: .4rem 0;
                font-size: 1.5rem;
                color: var(--light-color);
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:hover {
                    color: var(--main-color);
                    span {
                        background-color: var(--main-color);
                    }
                }
                span {
                    background: var(--light-color);
                    color: #fff;
                    border-radius: .5rem;
                    padding: .5rem;
                }
            }
        }
        .p-post {
            padding: 1rem 2rem;
            a {
                padding: 1rem 0;
                display: block;
                &:hover {
                    color: var(--main-color);
                    h3 {
                        color: var(--main-color);
                    }
                }
                h3 {
                    color: var(--black);
                    font-size: 2rem;
                    padding-bottom: 1rem;
                }
                span {
                    color: var(--light-color);
                    font-size: 1.5rem;
                    ion-icon {
                        padding-right: .2rem;
                    }
                }
            }
        }
        .tags {
            padding: 1rem;
            a {
                display: inline-block;
                padding: 1rem 1.5rem;
                font-size: 1.5rem;
                color: var(--black);
                border-radius: .5rem;
                border: var(--border);
                margin: .5rem;
                &:hover {
                    background: var(--black);
                    color: #fff;
                }
            }
        }
    }
}

/* sección contact */
.contact{
    background:url(../images/pexels-kelly-lacy-4041405.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contact form{
    background: var(--black);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem auto;
    max-width: 70rem;
    padding:2rem;
}

.contact form h3{
    color:var(--black);
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 3rem;
    text-transform: capitalize;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    width:100%;
    background:#eee;
    padding:1rem;
    margin:.7rem 0;
    border-radius: .5rem;
    color:var(--black);
    font-size: 1.7rem;
}

.contact form .inputBox input{
    width:49%;
}

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem;
    }

    section{
        padding:2rem;
    }    

    .container{
        grid-template-columns: 2fr 1fr;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: inline-block;
    }

    .header .search-form{
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        width: 100%;
        border-radius: 0;
    }

    .header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background: #fff;        
        display: none;
    }

    .header .navbar.active{
        display: block;
    }

    .header .navbar a{
        display: block;
        background:#f7f7f7;
        padding:1.5rem;
        margin:1.5rem;
        border-radius: .5rem;
        border:var(--border);
    }

    .container{
        grid-template-columns: 1fr;
        gap:0;
    }

    .container .posts-container .post .image{
        height: 30rem;;
    }

    .footer{
        flex-flow: column;
        text-align: center;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .contact form .inputBox input{
        width:100%;
    }    

}