@charset "UTF-8";
:root {
  --main-color: #843a51;
  --black: #222;
  --light-color: #888;
  --border: .1rem solid rgba(0,0,0,.2);
  --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: Verdana, tahoma, sans-serif;
  font-weight: lighter;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

section {
  padding: 2rem 7%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  background: var(--light-color);
  color: #fff;
  border-radius: .5rem;
  padding: .9rem 3rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(--main-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--black);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 7%;
}

header .logo {
  font-size: 2.5rem;
  color: #f7f7f7;
  margin-right: auto;
}

header .logo span {
  color: var(--main-color);
}

header .menu a {
  color: #f7f7f7;
  margin-right: 2rem;
  font-size: 1.7rem;
  text-transform: capitalize;
}

header .menu a:hover {
  color: var(--main-color);
}

header .btn-menu {
  display: none;
}

/* Sección Home */
.home {
  min-height: 80vh;
  background: url(../images/hubble-1632627.jpg);
  background-size: cover;
  background-position: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-top: 8rem;
}

.home .content {
  text-align: center;
  background: var(--black);
  border-radius: .5rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 3rem;
  max-width: 50rem;
}

.home .content h3 {
  font-size: 4rem;
  color: #f7f7f7;
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.7rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 1.5;
}

/* Sección Posts */
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 1fr;
      grid-template-columns: 2.5fr 1fr;
  gap: 1.5rem;
  background: var(--black);
}

.container .posts-container {
  width: 100%;
  padding: 2rem;
  background: var(--light-color);
  border: var(--border);
  border-radius: .5rem;
  margin-bottom: 1.5rem;
}

.container .posts-container .post {
  width: 100%;
  padding: 2rem;
  background: var(--light-color);
  border: var(--border);
  border-radius: .5rem;
  margin-bottom: 1.5rem;
}

.container .posts-container .post .image {
  height: 40rem;
  width: 100%;
  border-radius: .5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .posts-container .post .date {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: var(--main-color);
}

.container .posts-container .post .title {
  padding-top: 1.5rem;
  font-size: 2.5rem;
  color: var(--black);
}

.container .posts-container .post .text {
  color: #eee;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 1rem 0;
}

.container .posts-container .links {
  border-top: var(--border);
  margin-top: .5rem;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .posts-container .links .user {
  margin-right: auto;
}

.container .posts-container .links .icon {
  padding-right: 1rem;
}

.container .posts-container .links a {
  font-size: 1.5rem;
  color: #eee;
}

.container .posts-container .links a ion-icon {
  padding-right: .2rem;
  color: var(--black);
}

.container .posts-container .links a:hover {
  color: var(--main-color);
}

.container .posts-container .links a:hover ion-icon {
  color: var(--main-color);
}

.container .sidebar .box {
  border: var(--border);
  border-radius: .5rem;
  overflow: hidden;
  background: var(--black);
  margin-bottom: 1.5rem;
}

.container .sidebar .box .title {
  padding: 1.5rem;
  font-size: 2rem;
  color: #fff;
  background: var(--light-color);
  text-transform: capitalize;
}

.container .sidebar .box .about {
  text-align: center;
  padding: 1rem 1.5rem;
}

.container .sidebar .box .about img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem 0;
}

.container .sidebar .box .about h3 {
  color: var(--main-color);
  font-size: 2rem;
}

.container .sidebar .box .about p {
  color: #eee;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1rem;
}

.container .sidebar .box .about .follow {
  padding: 1rem 0;
}

.container .sidebar .box .about .follow ion-icon {
  line-height: 4rem;
  border-radius: 50%;
  background: var(--light-color);
  color: #fff;
  font-size: 3rem;
  padding: 1rem;
  margin: 0 .1rem;
}

.container .sidebar .box .about .follow ion-icon:hover {
  background: var(--main-color);
}

.container .sidebar .box .category {
  padding: 1rem 1.5rem;
  color: var(--light-color);
}

.container .sidebar .box .category a {
  padding: .4rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .sidebar .box .category a:hover {
  color: var(--main-color);
}

.container .sidebar .box .category a:hover span {
  background-color: var(--main-color);
}

.container .sidebar .box .category a span {
  background: var(--light-color);
  color: #fff;
  border-radius: .5rem;
  padding: .5rem;
}

.container .sidebar .box .p-post {
  padding: 1rem 2rem;
}

.container .sidebar .box .p-post a {
  padding: 1rem 0;
  display: block;
}

.container .sidebar .box .p-post a:hover {
  color: var(--main-color);
}

.container .sidebar .box .p-post a:hover h3 {
  color: var(--main-color);
}

.container .sidebar .box .p-post a h3 {
  color: var(--black);
  font-size: 2rem;
  padding-bottom: 1rem;
}

.container .sidebar .box .p-post a span {
  color: var(--light-color);
  font-size: 1.5rem;
}

.container .sidebar .box .p-post a span ion-icon {
  padding-right: .2rem;
}

.container .sidebar .box .tags {
  padding: 1rem;
}

.container .sidebar .box .tags a {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: var(--black);
  border-radius: .5rem;
  border: var(--border);
  margin: .5rem;
}

.container .sidebar .box .tags a:hover {
  background: var(--black);
  color: #fff;
}

/* sección contact */
.contact {
  background: url(../images/pexels-kelly-lacy-4041405.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contact form {
  background: var(--black);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: .5rem;
  margin: 2rem auto;
  max-width: 70rem;
  padding: 2rem;
}

.contact form h3 {
  color: var(--black);
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  text-transform: capitalize;
}

.contact form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
  width: 100%;
  background: #eee;
  padding: 1rem;
  margin: .7rem 0;
  border-radius: .5rem;
  color: var(--black);
  font-size: 1.7rem;
}

.contact form .inputBox input {
  width: 49%;
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem;
  }
  section {
    padding: 2rem;
  }
  .container {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 768px) {
  header .btn-menu {
    display: inline-block;
    color: #eee;
    font-size: 3rem;
    background: var(--light-color);
    border-radius: .5rem;
  }
  header .btn-menu:hover {
    background: var(--main-color);
  }
  header .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: var(--border);
    border-bottom: var(--border);
    background: var(--main-color);
    display: none;
  }
  header .menu a {
    text-align: center;
    display: block;
    background: var(--light-color);
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: .5rem;
    border: var(--border);
    color: var(--black);
  }
  header .active {
    display: block;
  }
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0;
  }
  .container .posts-container .post .image {
    height: 30rem;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .inputBox input {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */